name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
           script: |
            cd /home/ubuntu
            git clone https://github.com/SokhadomKhorn/Assignment1.git || (cd Assignment1 && git pull)
            sudo cp -r /home/ubuntu/Assignment1/* /var/www/html/